<!DOCTYPE html>
<!-- saved from url=(0027)http://www.paodeacucar.com/ -->
<html class=" js rgba cssgradients">
<head>
    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/css/485565.css">
</head>

<body id="pag-home" style="position: relative; height: auto; min-height: 100%;" data-twttr-rendered="true" class="catalog solveRequest store_id_501">


<div class="main-wrapper">

    <script type="text/javascript">
    var gptAdSlots = [];
    googletag.cmd.push(function() {
        gptAdSlots[0] = googletag.defineSlot('/377314031/paodeacucar/home', [728, 90], 'ads_superbanner')
                 .addService(googletag.pubads());
        gptAdSlots[1] = googletag.defineSlot('/377314031/paodeacucar/home', [300, 250], 'ads_retangulo1')
                 .addService(googletag.pubads());
         gptAdSlots[2] = googletag.defineSlot('/377314031/paodeacucar/home', [300, 250], 'ads_retangulo2')
                 .addService(googletag.pubads());
         gptAdSlots[3] = googletag.defineSlot('/377314031/paodeacucar/home', [300, 250], 'ads_retangulo3')
                 .addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
    }); 
    </script>

<header class="main-header nhgpa_full nhgpa_header-scroll">
    <% include ../partials/header.ejs %>
</header>
<main class="main-content nhgpa_header_topdown" style="clear:both;">


    <!-- Banner Start -->
    <div class="home-main-banner-wrapper blurPA">

        <div id="carousel-home" class="evtDrop home-main-banner slick-initialized slick-slider" style="display: block;"><div aria-live="polite" class="slick-list draggable" tabindex="0"><div class="slick-track" style="opacity: 1; width: 20265px;"><a href="http://busca.paodeacucar.com/ppc/natal_kitsespeciais" class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 1351px; position: relative; left: 0px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527110.jpg" data-bid="10328" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/natal_bauducco" class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1351px; position: relative; left: -1351px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/526381.jpg" data-bid="9002" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_vinhos_santarita" class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 1351px; position: relative; left: -2702px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527762.jpg" data-bid="10522" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_tvflash_espumantesSP" class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 1351px; position: relative; left: -4053px; top: 0px; z-index: 900; opacity: 1;"><img src="/img/527565.jpg" data-bid="10523" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_tvflash_sorveteskibon" class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 1351px; position: relative; left: -5404px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527763.jpg" data-bid="10503" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://busca.paodeacucar.com/search?view=grid&amp;cnt=12&amp;isort=score&amp;asug=&amp;w=banner_biscoito_bauducco" class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 1351px; position: relative; left: -6755px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527782.jpg" data-bid="10504" data-baid="banner06" name="null" class="banner06 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_tvflash_dolcegusto" class="slick-slide" data-slick-index="6" aria-hidden="true" style="width: 1351px; position: relative; left: -8106px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527783.jpg" data-bid="10524" data-baid="banner07" name="null" class="banner07 sysBanner"></a><a href="http://busca.paodeacucar.com/search?view=grid&amp;asug=&amp;w=banner_tvflash_haggendasz" class="slick-slide" data-slick-index="7" aria-hidden="true" style="width: 1351px; position: relative; left: -9457px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527764.jpg" data-bid="10526" data-baid="banner08" name="null" class="banner08 sysBanner"></a><a href="http://www.paodeacucar.com/produto/327205" class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 1351px; position: relative; left: -10808px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527765.jpg" data-bid="10527" data-baid="banner09" name="null" class="banner09 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_arroba_carnes10" class="slick-slide" data-slick-index="9" aria-hidden="true" style="width: 1351px; position: relative; left: -12159px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527785.jpg" data-bid="10505" data-baid="banner10" name="null" class="banner10 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_tvflash_comfort" class="slick-slide" data-slick-index="10" aria-hidden="true" style="width: 1351px; position: relative; left: -13510px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527481.jpg" data-bid="10409" data-baid="banner11" name="null" class="banner11 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_tvflash_omoeariel" class="slick-slide" data-slick-index="11" aria-hidden="true" style="width: 1351px; position: relative; left: -14861px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527480.jpg" data-bid="10408" data-baid="banner12" name="null" class="banner12 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/fraldas" class="slick-slide" data-slick-index="12" aria-hidden="true" style="width: 1351px; position: relative; left: -16212px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/526223.jpg" data-bid="9870" data-baid="banner13" name="null" class="banner13 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/especial_coca_individuais_sp" class="slick-slide" data-slick-index="13" aria-hidden="true" style="width: 1351px; position: relative; left: -17563px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/527297.jpg" data-bid="10402" data-baid="banner14" name="null" class="banner14 sysBanner"></a><a href="http://www.paodeacucar.com/?storeId=5470" class="slick-slide" data-slick-index="14" aria-hidden="true" style="width: 1351px; position: relative; left: -18914px; top: 0px; z-index: 800; opacity: 0;"><img src="/img/524946.jpg" data-bid="10482" data-baid="banner15" name="null" class="banner15 sysBanner"></a></div></div><button type="button" data-role="none" class="slick-prev" aria-label="previous" style="display: block;">Previous</button><button type="button" data-role="none" class="slick-next" aria-label="next" style="display: block;">Next</button><ul class="slick-dots" style="display: block;"><li class="" aria-hidden="true"><button type="button" data-role="none">1</button></li><li aria-hidden="true" class=""><button type="button" data-role="none">2</button></li><li aria-hidden="true" class=""><button type="button" data-role="none">3</button></li><li aria-hidden="false" class="slick-active"><button type="button" data-role="none">4</button></li><li aria-hidden="true"><button type="button" data-role="none">5</button></li><li aria-hidden="true"><button type="button" data-role="none">6</button></li><li aria-hidden="true"><button type="button" data-role="none">7</button></li><li aria-hidden="true"><button type="button" data-role="none">8</button></li><li aria-hidden="true"><button type="button" data-role="none">9</button></li><li aria-hidden="true"><button type="button" data-role="none">10</button></li><li aria-hidden="true"><button type="button" data-role="none">11</button></li><li aria-hidden="true"><button type="button" data-role="none">12</button></li><li aria-hidden="true"><button type="button" data-role="none">13</button></li><li aria-hidden="true"><button type="button" data-role="none">14</button></li><li aria-hidden="true"><button type="button" data-role="none">15</button></li></ul></div>
        <div class="evtDrop" id="carousel-nav-banner" style="display: block;"></div>
        <script type="text/javascript">
            $(function(){
                $('#carousel-home').slick({
                    dots: true,
                    infinite: true,
                    speed: 500,
                    fade: true,
                    cssEase: 'linear',
                    autoplay:true
                });
                // new GPA.Carousel(
                //    '#carousel-home',
                //    { controlledBy: '#main-banner-controls-home .home-main-banner-nav__item' },
                //    { controlNav: true, animation: 'fade', slideshow: true, animationLoop: true }
                //);
                $("#carousel-home, #carousel-nav-banner").show();
            });
        </script>
    </div>
    <div class="banner-fillet-wrapper">
        <div id="bannerFilete" class="evtDrop banner-fillet"></div>
    </div>
    <!-- Banner End -->
    <!-- Content Start -->
    <div class="width-limiter blurPA">
        <!-- Chaordic TOP -->
        <div chaordic="top"></div>  


        <header class="content-header">
            <h2 class="content-header__heading">OFERTAS</h2>
            <p class="content-header__description">Uma seleção de produtos a preços especiais</p>
        </header>
        <div class="home-showcase-controls fixMarginTop"><a href="http://www.paodeacucar.com/ofertas" class="link icon icon--circle-arrow-right">Veja todas as ofertas</a></div>
        <div id="home-showcase" class="home-showcase showcase group evtDrop flexslider showcase--grade fixMarginTop" data-title="home carrossel 1"><div class="side-nav-showcase__viewport" style="overflow: hidden; position: relative;">

        <ul class="slides" style="width: 2400%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">

        <% produtos.forEach(function(produto) { %>
        <li style="width: 220px; float: left; display: block;">
            <div class="boxProduct showcase-item content-box grid__item grid__item--quarter  showcase-item--equalized" style="min-height: 345px;">

                <a href="/produto/<%= produto.id %>">
                    <img height="180" width="180" id="" alt="" src="#" class="prdImagem img" draggable="false">
                </a>

                <div class="showcase-item__info">
                    <h3 class="showcase-item__name">
                        <a href="/produto/<%= produto.id %>" class="link" title="<%= produto.descricao %>"><%= produto.descricao %></a>
                    </h3>
                </div>

                <footer class="showcase-item__footer content-box__footer ">
                    <p class="showcase-item__price inline--middle singleValue">
                        <a href="/produto/<%= produto.id %>" class="link">
                        <span class="fromTo">Por:</span> <span class="currency">R$ </span><span class="value"><%= produto.preco %></span>
                        </a>
                    </p>
                </footer>

                <div class="product-control showcase-item__controls showcase-item__controls--top">
                    <div class="product-qty">
                        <button type="button" class="button button-pill button-pill--circle button-pill--green-flat qtdProdLess">-</button>
                        <input type="text" value="1" min="1" class="field field--rounded field--qty" id="produto<%= produto.id %>">
                        <button type="button" class="button button-pill button-pill--circle button-pill--green-flat qtdProdPlus">+</button>
                    </div>
                    <div class="add-2-kart-wrap">

                        <span style="width:33px;" title="comprar" class="button button button-pill button-pill--green-flat addtocart new-s-kart" onclick="adicionarProdutoCarrinho(<%= produto.id %>);">
                            <span class="icon icon--cart inline--middle"></span>
                        </span>

                    </div>
                </div>
            </div>
        </li>
        <% }); %>

        </ul></div>


     <ul class="side-nav-showcase__direction-nav"><li><a class="side-nav-showcase__prev side-nav-showcase__disabled" href="http://www.paodeacucar.com/#" tabindex="-1"></a></li><li><a class="side-nav-showcase__next" href="http://www.paodeacucar.com/#"></a></li></ul></div>

        <div id="home-full-banner" class="home-full-banner nhgpa_top evtDrop"><a href="http://www.paodeacucar.com/produto/331610"><img src="/img/527766.jpg" data-bid="10506" data-baid="super-banner" name="null" class="super-banner sysBanner"></a></div>
        
        <!-- Chaordic MIDDLE -->
        <div chaordic="middle"></div>


        <header class="content-header">
            <h2 class="content-header__heading">PRODUTOS RECOMENDADOS</h2>
            <p class="content-header__description">Produtos selecionados para fazer você feliz</p>
        </header>

        <div id="home-carousel2" class="home-carousel2 showcase group evtDrop flexslider showcase--grade home-showcase" data-title="home carrossel 2"><div class="side-nav-showcase__viewport" style="overflow: hidden; position: relative;">

        <ul class="slides" style="width: 1200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">


        </ul></div><ul class="side-nav-showcase__direction-nav"><li><a class="side-nav-showcase__prev side-nav-showcase__disabled" href="http://www.paodeacucar.com/#" tabindex="-1"></a></li><li><a class="side-nav-showcase__next" href="http://www.paodeacucar.com/#"></a></li></ul></div>
        
        <!-- Chaordic BOTTOM -->
        <div chaordic="bottom"></div>
        
        <div id="ads_superbanner" style="margin: 2em auto; text-align: center; display: none;" data-google-query-id="CIKjmcmR6NACFcoKkQoda2IGAw"><div id="google_ads_iframe_/377314031/paodeacucar/home_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/377314031/paodeacucar/home_0" title="3rd party ad content" name="google_ads_iframe_/377314031/paodeacucar/home_0" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border: 0px; vertical-align: bottom;" src="/img/saved_resource(1).html"></iframe></div><iframe id="google_ads_iframe_/377314031/paodeacucar/home_0__hidden__" title="" name="google_ads_iframe_/377314031/paodeacucar/home_0__hidden__" width="0" height="0" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border: 0px; vertical-align: bottom; visibility: hidden; display: none;" src="/img/saved_resource(2).html"></iframe></div>


        <div id="banners1" class="group evtDrop"><a href="http://www.paodeacucar.com/viva-vinhos"><img src="/img/527618.jpg" data-bid="10502" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_tvflash_cafedoponto"><img src="/img/527784.jpg" data-bid="10525" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://www.paodeacucar.com/produto/46787"><img src="/img/527442.jpg" data-bid="10427" data-baid="banner01" name="null" class="banner01 sysBanner"></a></div>
        <div id="banners2" class="group evtDrop"><a href="http://www.paodeacucar.com/produto/333527"><img src="/img/527440.jpg" data-bid="10425" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/natal_village"><img src="/img/527767.jpg" data-bid="10507" data-baid="banner01" name="null" class="banner01 sysBanner"></a><a href="http://busca.paodeacucar.com/ppc/banner_tvflash_scotch"><img src="/img/527521.jpg" data-bid="10412" data-baid="banner01" name="null" class="banner01 sysBanner"></a></div>
        <header class="content-header">
            <h2 class="content-header__heading">Diferenciais do Pão de Açúcar Delivery</h2>
            <p class="content-header__description">É seguro, organizado e recheado de vantagens</p>
        </header>
        <div class="home-diferenciais">
            <div class="group">
                <div class="grid__item grid__item--quarter">
                    <h3 class="home-diferenciais__heading home-sprite home-sprite--icon-fruits">Seleção Especial</h3>
                    <p class="home-diferenciais__description">Nossos funcionários sabem selecionar os melhores produtos e deixá-los prontinhos para o transporte</p>
                </div>
                <div class="grid__item grid__item--quarter">
                    <h3 class="home-diferenciais__heading home-sprite home-sprite--icon-basket">Tudo Do Seu Jeito</h3>
                    <p class="home-diferenciais__description">Entrega Tradicional, Agendada, Express, Clique e Retire.</p>
                </div>
                <div class="grid__item grid__item--quarter">
                    <h3 class="home-diferenciais__heading home-sprite home-sprite--icon-truck">Sempre Fresquinho</h3>
                    <p class="home-diferenciais__description">Nossos caminhões têm tecnologia para transportar cada produto na temperatura ideal</p>
                </div>
                <div class="grid__item grid__item--quarter">
                    <h3 class="home-diferenciais__heading home-sprite home-sprite--icon-clock">Troca rápida e fácil</h3>
                    <p class="home-diferenciais__description">Se os produtos não chegarem com o padrão Pão de Açúcar, nós trocamos o item sem complicação</p>
                </div>
            </div>
            <!--<a href="#" title="Clique e conheça mais" class="home-diferenciais__trigger button button-pill button-pill--large button-pill--green">Conheça mais</a>-->
        </div>
        <header class="content-header">
            <h2 class="content-header__heading">Redes Sociais</h2>
            <p class="content-header__description">Acesse, siga e dê seu curtir. Queremos ficar cada vez mais pertinho de você</p>
        </header>
        <div class="home-social-area group">
            <script>function elapsedTime(e){var t=new Date;var n=new Date(e);var r=t.getTime()-n.getTime();var i={days:1e3*60*60*24,hours:1e3*60*60,minutes:1e3*60,seconds:1e3};var s;for(key in i){var o=Math.round(r/i[key]);if(o!=0){s=o+" "+key+" ago.";break}}return s}</script>
            <div class="evtDrop" id="social-area-group"><!-- INI comp(twitter,25) --><div class="social-box grid__item grid__item--third">
      <header class="social-box__header social-box__header--twitter group">
        <h3 class="heading main-sprite main-sprite--logo-twitter hide-text">Twitter</h3><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="/img/tweet_button.3748f7cda49448f6c6f7854238570ba0.en.html" style="position: static; visibility: visible; width: 60px; height: 20px;"></iframe>
      </header>
    
      <div class="content-box">
        <section class="social-box__content">
            
            
                <div class="social-box__content-item group social-box__content-item--twitter">
                    <a href="http://www.paodeacucar.com/" class="avatar">
                        <img src="/img/aJOeXi8o_normal.jpg" class="img">
                    </a>
                    <div class="content">
                        <p class="text">RT @NicodemosRenan: O melhor do mundo!#ttburger @ Pão de Açúcar Leblon https://t.co/0WpFwsh90y</p>
                      <ul class="controls reset--list">
                          <li class="control-item"><a href="http://www.paodeacucar.com/" class="control-link link"><script type="text/javascript">document.write(elapsedTime((new Date("Wed Dec 07 12:06:53 +0000 2016")).getTime()))</script>2 days ago.</a></li>
                        <li class="control-item"><a href="https://twitter.com/intent/tweet?in_reply_to=806470031253078017" class="control-link link" target="_blank">reply</a></li>
                        <li class="control-item"><a href="https://twitter.com/intent/retweet?tweet_id=806470031253078017" class="control-link link" target="_blank">retweet</a></li>
                        <li class="control-item"><a href="https://twitter.com/intent/favorite?tweet_id=806470031253078017" class="control-link link" target="_blank">favorite</a></li>
                      </ul>
                    </div>
                </div>
            
            
          
            
          
        </section>
        <footer class="social-box__footer social-box__footer--twitter content-box__footer">
          <p class="info">Notícias iguais a nossos pães: fresquinhas<br><a href="https://twitter.com/paodeacucar" class="link">Veja lá no nosso Twitter</a></p>
        </footer>
      </div>
    </div><!-- END comp(twitter,25) --></div>
            <!-- <div class="social-box grid__item grid__item--third">
                <header class="social-box__header social-box__header--facebook group">
                        <h3 class="heading main-sprite main-sprite--logo-facebook hide-text">Facebook</h3>
                        <div data-href="https://www.facebook.com/paodeacucar" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-colorscheme="light" class="social-wrapper fb-like"></div>
                </header>
                <div class="content-box">
                        <section class="social-box__content">
                                <div class="social-box__content-item group social-box__content-item--facebook"><a href="/" class="avatar"><img src="http://lorempixel.com/35/35" class="img"/></a>
                                <div class="content">
                                        <p class="text">Lorem ipsum Labore occaecat sit ex commodo eiusmod minim est dolore est elit pariatur ex non officia non et incididunt.</p>
                                        <ul class="controls reset--list">
                                                <li class="control-item"><a href="/" class="control-link link">2 minutes ago</a></li>
                                        </ul>
                                </div>
                        </div>
                        <div class="social-box__content-item group social-box__content-item--facebook"><a href="/" class="avatar"><img src="http://lorempixel.com/35/35" class="img"/></a>
                        <div class="content">
                                <p class="text">Lorem ipsum Labore occaecat sit ex commodo eiusmod minim est dolore est elit pariatur ex non officia non et incididunt.</p>
                                <ul class="controls reset--list">
                                        <li class="control-item"><a href="/" class="control-link link">2 minutes ago</a></li>
                                </ul>
                        </div>
                </div>
                <div class="social-box__content-item group social-box__content-item--facebook"><a href="/" class="avatar"><img src="http://lorempixel.com/35/35" class="img"/></a>
                <div class="content">
                        <p class="text">Lorem ipsum Labore occaecat sit ex commodo eiusmod minim est dolore est elit pariatur ex non officia non et incididunt.</p>
                        <ul class="controls reset--list">
                                <li class="control-item"><a href="/" class="control-link link">2 minutes ago</a></li>
                        </ul>
                </div>
        </div>
    </section>
    <footer class="social-box__footer social-box__footer--facebook content-box__footer">
        <p class="info">Ler coisas divertidas faz você feliz?<br><a href="/" class="link">Curta nossa FanPage</a></p>
    </footer>
</div>
</div>
<div class="social-box grid__item grid__item--third">
<header class="social-box__header social-box__header--twitter group">
    <h3 class="heading main-sprite main-sprite--logo-twitter hide-text">Twitter</h3><a href="https://twitter.com/share" data-count="none" data-via="twitterapi" class="social-wrapper twitter-share-button">Tweet</a>
</header>
<div class="content-box">
    <section class="social-box__content">
        <div class="social-box__content-item group social-box__content-item--twitter"><a href="/" class="avatar"><img src="http://lorempixel.com/35/35" class="img"/></a>
        <div class="content">
                <p class="text">Lorem ipsum Labore occaecat sit ex commodo eiusmod minim est dolore est elit pariatur ex non officia non et incididunt.</p>
                <ul class="controls reset--list">
                        <li class="control-item"><a href="/" class="control-link link">2 minutes ago</a></li>
                        <li class="control-item"><a href="/" class="control-link link">reply</a></li>
                        <li class="control-item"><a href="/" class="control-link link">retweet</a></li>
                        <li class="control-item"><a href="/" class="control-link link">favorite</a></li>
                </ul>
        </div>
    </div>
    <div class="social-box__content-item group social-box__content-item--twitter"><a href="/" class="avatar"><img src="http://lorempixel.com/35/35" class="img"/></a>
    <div class="content">
        <p class="text">Lorem ipsum Labore occaecat sit ex commodo eiusmod minim est dolore est elit pariatur ex non officia non et incididunt.</p>
        <ul class="controls reset--list">
                <li class="control-item"><a href="/" class="control-link link">2 minutes ago</a></li>
                <li class="control-item"><a href="/" class="control-link link">reply</a></li>
                <li class="control-item"><a href="/" class="control-link link">retweet</a></li>
                <li class="control-item"><a href="/" class="control-link link">favorite</a></li>
        </ul>
    </div>
</div>
<div class="social-box__content-item group social-box__content-item--twitter"><a href="/" class="avatar"><img src="http://lorempixel.com/35/35" class="img"/></a>
<div class="content">
    <p class="text">Lorem ipsum Labore occaecat sit ex commodo eiusmod minim est dolore est elit pariatur ex non officia non et incididunt.</p>
    <ul class="controls reset--list">
        <li class="control-item"><a href="/" class="control-link link">2 minutes ago</a></li>
        <li class="control-item"><a href="/" class="control-link link">reply</a></li>
        <li class="control-item"><a href="/" class="control-link link">retweet</a></li>
        <li class="control-item"><a href="/" class="control-link link">favorite</a></li>
    </ul>
</div>
</div>
</section>
<footer class="social-box__footer social-box__footer--twitter content-box__footer">
<p class="info">Notícias iguais a nossos pães: fresquinhas<br><a href="/" class="link">Veja lá no nosso Twitter</a></p>
</footer>
</div>
</div>-->
            <div class="grid__item grid__item--third">
                <nav class="home-social-links">
                    <h3 class="home-social-links__heading">Acesse nossas redes</h3>
                    <ul class="home-social-links__items reset--list">
                        <li class="home-social-links__item inline--middle"><a href="https://www.facebook.com/paodeacucar" title="Facebook" class="home-social-links__link link hide-text main-sprite main-sprite--icon-facebook-large">Facebook</a></li>
                        <li class="home-social-links__item inline--middle"><a href="https://twitter.com/paodeacucar" title="Twitter" class="home-social-links__link link hide-text main-sprite main-sprite--icon-twitter-large">Twitter</a></li>
                        <li class="home-social-links__item inline--middle"><a href="https://www.youtube.com/user/videosPaodeAcucar" title="YouTube" class="home-social-links__link link hide-text main-sprite main-sprite--icon-youtube-large">YouTube</a></li>
                        <!--<li class="home-social-links__item inline--middle"><a href="http://www.paodeacucarsustentavel.com/internas/blog/" title="Blog" class="home-social-links__link link hide-text main-sprite main-sprite--icon-blog-a-large">Blog</a></li>-->
                        <!--<li class="home-social-links__item inline--middle"><a title="Blog" class="home-social-links__link link hide-text main-sprite main-sprite--icon-blog-b-large">Blog</a></li>-->
                    </ul>
                </nav>
                <div class="home-simple-banner">
                    <figure id="group-content__figure" class="group-content__figure evtDrop"><a href="http://www.paodeacucar.com/cuponsdedescontos" target="_self"><img src="/img/524436.jpg" data-bid="21" data-baid="bannerUnit" name="null" class="bannerUnit sysBanner"></a></figure>
                </div>
            </div>
        </div>
        <div style="margin-top: 2em;" class="group">
            <div id="ads_retangulo1" style="float: left; display: none;" data-google-query-id="CK6DmsmR6NACFQ8SkQod9dIJ4A"><div id="google_ads_iframe_/377314031/paodeacucar/home_1__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/377314031/paodeacucar/home_1" title="3rd party ad content" name="google_ads_iframe_/377314031/paodeacucar/home_1" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border: 0px; vertical-align: bottom;" src="/img/saved_resource(3).html"></iframe></div><iframe id="google_ads_iframe_/377314031/paodeacucar/home_1__hidden__" title="" name="google_ads_iframe_/377314031/paodeacucar/home_1__hidden__" width="0" height="0" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border: 0px; vertical-align: bottom; visibility: hidden; display: none;" src="/img/saved_resource(4).html"></iframe></div>

            <div id="ads_retangulo2" style="float: left; margin-left: 20px; text-align: center; display: none;" data-google-query-id="CL7mmsmR6NACFdaFkQodQTENJg"><div id="google_ads_iframe_/377314031/paodeacucar/home_2__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/377314031/paodeacucar/home_2" title="3rd party ad content" name="google_ads_iframe_/377314031/paodeacucar/home_2" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border: 0px; vertical-align: bottom;" src="/img/saved_resource(5).html"></iframe></div><iframe id="google_ads_iframe_/377314031/paodeacucar/home_2__hidden__" title="" name="google_ads_iframe_/377314031/paodeacucar/home_2__hidden__" width="0" height="0" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border: 0px; vertical-align: bottom; visibility: hidden; display: none;" src="/img/saved_resource(6).html"></iframe></div>

            <div id="ads_retangulo3" style="float: right; display: none;" data-google-query-id="CLfbm8mR6NACFcwKkQodrasMNQ"><div id="google_ads_iframe_/377314031/paodeacucar/home_3__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/377314031/paodeacucar/home_3" title="3rd party ad content" name="google_ads_iframe_/377314031/paodeacucar/home_3" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border: 0px; vertical-align: bottom;" src="/img/saved_resource(7).html"></iframe></div><iframe id="google_ads_iframe_/377314031/paodeacucar/home_3__hidden__" title="" name="google_ads_iframe_/377314031/paodeacucar/home_3__hidden__" width="0" height="0" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border: 0px; vertical-align: bottom; visibility: hidden; display: none;" src="/img/saved_resource(8).html"></iframe></div>
        </div>
    </div>
    <div id="fb-root"></div>
    <script>
        //- Facebook
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=667755713270156";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        //- Twitter
        (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"));
        //- Google Plus
        window.___gcfg = {lang: 'pt-BR'};
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    <!-- Content End -->
</main>

    <footer class="main-footer">
        <% include ../partials/footer.ejs %>
    </footer>

</div>

<script type="text/javascript" src="/js/485564.js"></script>
<script type="text/javascript" src="/js/index.js"></script>


</body></html>