<!DOCTYPE html>
<!-- saved from url=(0110)http://www.paodeacucar.com/produto/354905/kit-com-12-panettones-com-gotas-de-chocolate-qualita-caixa-400g-cada -->
<html class=" js rgba cssgradients">
<head>
    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/css/485541.css">
</head>

<body id="pag-produto-354905" style="position: relative; height: auto; min-height: 100%;" data-twttr-rendered="true" class="catalog solveRequest store_id_501 produto 354905 kitcom12panettonescomgotasdechocolatequalitacaixa400gcada">

<div class="main-wrapper">

    <script type="text/javascript">
     var gptAdSlots = [];
                    googletag.cmd.push(function() {
                        gptAdSlots[0] = googletag.defineSlot('/377314031/paodeacucar/natal/panettones/produto', [300, 250], 'ads_retangulo1').addService(googletag.pubads());
                        gptAdSlots[1] = googletag.defineSlot('/377314031/paodeacucar/natal/panettones/produto', [300, 250], 'ads_retangulo2').addService(googletag.pubads());
                        googletag.pubads().enableSingleRequest();googletag.pubads().collapseEmptyDivs();googletag.enableServices();
                    });
</script>


<!-- Header novo -->    

<header class="main-header nhgpa_full">
    <% include ../partials/header.ejs %>
</header>
<!-- Header novo -->
<main class="main-content">
<div class="width-limiter"> 
     
    <div class="evtDrop" id="breadCrumbArea"><!-- INI comp(breadcrumb,1) -->    


<nav class="breadcrumbs group">            
    
        
             
        
        <!-- INI comp(generic,35) --><ul class="breadcrumbs__items reset--list">
    
        <li class="breadcrumbs__item icon icon--angle-right inline--middle">
            
                <a href="http://www.paodeacucar.com/" title="home" class="breadcrumbs__label">home</a>
            
        </li>
    
        <li class="breadcrumbs__item icon icon--angle-right inline--middle">
            
                <a href="http://www.paodeacucar.com/secoes/C5095/natal" title="Natal" class="breadcrumbs__label">Produtos</a>
            
        </li>

    
        <li class="breadcrumbs__item icon icon--angle-right inline--middle">
            
                <span class="breadcrumbs__label breadcrumbs__label--current"><%= produto.descricao %></span>
            
        </li>
    
</ul><!-- END comp(generic,35) -->                          
        
    
    
</nav>
<!-- END comp(breadcrumb,1) --></div> 
</div> 
     
<div class="evtDrop" id="productArea"><!-- INI comp(product,16) -->






    
    
    
    <div class="width-limiter">
        
        
        
        <header class="product-header">
            <h1 class="product-header__heading"><%= produto.descricao %></h1>
            
            <div class="product-header__controls">
                <a href="javascript:void(0)" class="navigate_to_review" style="text-decoration:none">
                </a>
                <a href="javascript:void(0)" class="product-header__control icon icon--chat inline--middle navigate_to_review">0</a>
                
            </div>
        </header>        
        
        <div class="group">
            <div class="product-hint grid__item grid__item--quarter grid__item--fake">
              
            </div>
        
            <div id="product-image" class="product-image grid__item grid__item--half">
                
                

                <a href="#" class="zoomImage product-image__zoom-trigger" rel="undefined" title="" style="outline-style: none; text-decoration: none;">
                    <div class="zoomPad"><img src="aqui" width="250" height="250" class="product-image__main-img" title="" style="opacity: 1;"><div class="zoomPup" style="display: none; top: 0px; left: 0px; width: 61px; height: 64px; position: absolute; border-width: 1px;"></div><div class="zoomWindow" style="position: absolute; display: none; z-index: 5001; left: 250px; top: 0px;"><div class="zoomWrapper" style="width: 293px;"><div class="zoomWrapperTitle" style="width: 100%; position: absolute; display: none;"></div><div class="zoomWrapperImage" style="width: 100%; height: 310px;"><img src="#" style="position: absolute; border: 0px; display: block; left: -5000px; top: 0px;"></div></div></div><div class="zoomPreload" style="visibility: hidden; top: 112.5px; left: 89px; position: absolute;">Carregando</div></div>
                </a>

                <a href="#" class="product-image__zoom-trigger zoomTargetModel" style="display:none;">
                    <img src="#">
                </a>
                                
        
                
            </div>
        
            <form class="product-control product-control--has-tab grid__item grid__item--quarter" id="productForm" name="productForm">
        
                <input type="hidden" name="storeId" value="501"> 
                <input type="hidden" name="shelfName" value="Panettones"> 
                <input type="hidden" name="productId" value="354905"> 
                
                
                                
                
                    
                        <div class="product-control__price product-control__container ">
                            <span class="currency inline--middle">R$</span>
                            <span class="value inline--middle"><%= produto.preco %></span>
                        </div>
                    
                                            
                    <div class="product-control__container">
                        <h4 class="heading">Quantidade</h4>
                        <div class="product-qty">
                            <button class="button button-pill button-pill--circle button-pill--green-flat qtdProdLess">-</button>
                            <input type="text" value="1" name="quantity" class="field field--rounded field--qty" id="produto<%= produto.id %>">
                            <button class="button button-pill button-pill--circle button-pill--green-flat qtdProdPlus">+</button>                  
                        </div>
                        
                    </div>
                        
                    <div class="product-control__controls ">
                        <button type="submit" id="productPage_354905_Panettones" title="Adicionar ao carrinho" class="button button-pill button-pill--green-flat btnComprarProd productElement btnComprarProd" onclick="adicionarProdutoCarrinho(<%= produto.id %>);">Comprar<i class="icon icon--cart inline--middle"></i></button>
                    </div>
                
            </form>
        </div>
    </div>
    

    
    

    <!-- END comp(product,16) --></div> 
    
<div class="width-limiter">
        <!-- Chaordic TOP -->
        <div chaordic="top"></div>
        <div id="related-showcase" class="evtDrop"><!-- INI comp(seeMore,6) --> 
   <div class="product-related"> 
    <header class="content-header"> 
      <h2 class="content-header__heading">VEJA TAMBÉM</h2> 
      <p class="content-header__description"></p> 
    </header> 
       <div id="seeMore-showcase" class="showcase group flexslider"><div class="side-nav-showcase__viewport" style="overflow: hidden; position: relative;">

       <ul class="slides" style="width: 2400%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);"> 
             
        <% produtos.forEach(function(produto) { %>
        <li style="width: 220px; float: left; display: block;">
            <div class="boxProduct showcase-item content-box grid__item grid__item--quarter  showcase-item--equalized" style="min-height: 345px;">

                <a href="/produto/<%= produto.id %>">
                    <img height="180" width="180" id="" alt="" src="#" class="prdImagem img" draggable="false">
                </a>

                <div class="showcase-item__info">
                    <h3 class="showcase-item__name">
                        <a href="/produto/<%= produto.id %>" class="link" title="<%= produto.descricao %>"><%= produto.descricao %></a>
                    </h3>
                </div>

                <footer class="showcase-item__footer content-box__footer ">
                    <p class="showcase-item__price inline--middle singleValue">
                        <a href="/produto/<%= produto.id %>" class="link">
                        <span class="fromTo">Por:</span> <span class="currency">R$ </span><span class="value"><%= produto.preco %></span>
                        </a>
                    </p>
                </footer>

                <div class="product-control showcase-item__controls showcase-item__controls--top">
                    <div class="product-qty">
                        <button type="button" class="button button-pill button-pill--circle button-pill--green-flat qtdProdLess">-</button>
                        <input type="text" value="1" min="1" class="field field--rounded field--qty" id="quantity_323468">
                        <button type="button" class="button button-pill button-pill--circle button-pill--green-flat qtdProdPlus">+</button>
                    </div>
                    <div class="add-2-kart-wrap">

                        <span style="width:33px;" title="comprar" class="button button button-pill button-pill--green-flat addtocart new-s-kart" onclick="alert('adicionar');">
                            <span class="icon icon--cart inline--middle"></span>
                        </span>

                    </div>
                </div>
            </div>
        </li>
        <% }); %>

        </ul></div><ul class="side-nav-showcase__direction-nav"><li><a class="side-nav-showcase__prev side-nav-showcase__disabled" href="http://www.paodeacucar.com/produto/354905/kit-com-12-panettones-com-gotas-de-chocolate-qualita-caixa-400g-cada#" tabindex="-1"></a></li><li><a class="side-nav-showcase__next" href="http://www.paodeacucar.com/produto/354905/kit-com-12-panettones-com-gotas-de-chocolate-qualita-caixa-400g-cada#"></a></li></ul></div> 
  </div> 
 <!-- END comp(seeMore,6) --></div>
</div>
<div class="evtDrop" id="nutritionalChart"><!-- INI comp(generic,1342) --> 
 
    <div class="product-info"> 
        <div class="width-limiter"> 
            <h3 class="product-info__heading">Informações do produto</h3> 
            <div class="product-info__text"> 
                 
            </div> 
        </div> 
    </div> 

    <div class="width-limiter"> 
         
    </div> 
 
<!-- END comp(generic,1342) --></div>
    
<div class="width-limiter">     
    <!-- Chaordic MIDDLE -->
    <div chaordic="middle"></div>    
</div>
    



<div class="width-limiter">
    <div class="evtDrop" id="reviewArea"><!-- INI comp(review,9) -->

    
    
    
    <header class="content-header">
        <h2 class="content-header__heading">Opinião dos clientes</h2>
        <p class="content-header__description">Dê suas dicas, faça elogios ou críticas. Ajude o Pão de Açúcar a oferecer sempre o melhor.</p>
    </header>
      <div id="reviewMessage" style="color: #3c9e3b;font-weight: bold;text-align: center;font-size: 1.2em;"></div>
      <div class="product-review group">
        <div class="product-review-summary grid__item grid__item--quarter">
            <h3 class="heading">Média de avaliação</h3>
          <div class="product-rating-group group">
            <ul class="product-rating reset--list inline--middle">
                
                    <li class="product-rating__item inline--middle"><span class="product-rating__label icon icon--star hide-text ">1</span></li>
                
                    <li class="product-rating__item inline--middle"><span class="product-rating__label icon icon--star hide-text ">2</span></li>
                
                    <li class="product-rating__item inline--middle"><span class="product-rating__label icon icon--star hide-text ">3</span></li>
                
                    <li class="product-rating__item inline--middle"><span class="product-rating__label icon icon--star hide-text ">4</span></li>
                
                    <li class="product-rating__item inline--middle"><span class="product-rating__label icon icon--star hide-text ">5</span></li>
                
              </ul><span class="label inline--middle"></span>
          </div>
          <h3 class="heading">Avaliação Detalhada</h3>
          <ul class="product-rating reset--list product-rating--stacked">
            
                <li class="product-rating__item inline--middle">
                    <span class="product-rating__label icon icon--star hide-text active">1</span>
                    <span class="product-rating__bar inline--middle">
                        
                    </span>
                    <span class="product-rating__info inline--middle"></span>
                </li>
            
                <li class="product-rating__item inline--middle">
                    <span class="product-rating__label icon icon--star hide-text active">2</span>
                    <span class="product-rating__bar inline--middle">
                        
                    </span>
                    <span class="product-rating__info inline--middle"></span>
                </li>
            
                <li class="product-rating__item inline--middle">
                    <span class="product-rating__label icon icon--star hide-text active">3</span>
                    <span class="product-rating__bar inline--middle">
                        
                    </span>
                    <span class="product-rating__info inline--middle"></span>
                </li>
            
                <li class="product-rating__item inline--middle">
                    <span class="product-rating__label icon icon--star hide-text active">4</span>
                    <span class="product-rating__bar inline--middle">
                        
                    </span>
                    <span class="product-rating__info inline--middle"></span>
                </li>
            
                <li class="product-rating__item inline--middle">
                    <span class="product-rating__label icon icon--star hide-text active">5</span>
                    <span class="product-rating__bar inline--middle">
                        
                    </span>
                    <span class="product-rating__info inline--middle"></span>
                </li>
            
          </ul>
        </div>
        <div class="grid__item grid__item--three-quarters">
            
        <div class="product-review-items">
            
          </div>
        </div>
      </div>
              
<!-- END comp(review,9) --></div>
    <!-- Chaordic BOTTOM -->
    <div chaordic="bottom"></div>
</div>
</main>


    <footer class="main-footer">
        <% include ../partials/footer.ejs %>
    </footer>

</div>

<script type="text/javascript" src="/js/485539.js"></script>
<script type="text/javascript" src="/js/485540.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</body></html>